<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your listing</h3>

    <form
      method="post"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea name="description" class="form-control" required>
<%= listing.description %> </textarea
        >
        <div class="invalid-feedback">Please enter a description.</div>
      </div>
      <div>
        original listing image <br />
        <img src="<%= originalImageUrl %>" alt="" />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload new image</label>
        <input type="file" name="listing[image][url]" class="form-control" />
        <div class="valid-feedback">
          enter image url otherwise default image will set
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="price" class="form-label">price</label>
          <input
            type="number"
            name="price"
            value="<%= listing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="col-md-8 mb-3">
          <label for="country" class="form-label">Country</label>

          <input
            type="text"
            name="country"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>
      <div class="two">
        <div class="location">
          <label for="location" class="form-label">Location</label>

          <input
            type="text"
            name="location"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        <div class="Type">
          <label for="list_type" class="form-label">Type</label>
          <select
            class="form-select mb-3 form-control"
            aria-label="Large select example"
            id="list_type"
            name="listing[list_type]"
            required
          >
            <option selected>Listing Type</option>
            <option value="Rooms" <%if(listing.list_type == "Rooms") {%> selected <% } %>>Rooms</option>
            <option value="Iconic cities" <%if(listing.list_type == "Iconic cities") {%> selected <% } %>>Iconic cities</option>
            <option value="Mountains" <%if(listing.list_type == "Mountains") {%> selected <% } %>>Mountaines</option>
            <option value="Castles" <%if(listing.list_type == "Castles") {%> selected <% } %>>Castles</option>
            <option value="Amazing pools" <%if(listing.list_type == "Amazing pools") {%> selected <% } %>>Amazing pools</option>
            <option value="Camping" <%if(listing.list_type == "Camping") {%> selected <% } %>>Camping</option>
            <option value="Farms" <%if(listing.list_type == "Farms") {%> selected <% } %>>Farms</option>
            <option value="Arctic" <%if(listing.list_type == "Arctic") {%> selected <% } %>>Arctic</option>
            <option value="Domes" <%if(listing.list_type == "Domes") {%> selected <% } %>>Domes</option>
            <option value="Boats" <%if(listing.list_type == "Boats") {%> selected <% } %>>Boats</option>
          </select>
          <div class="invalid-feedback">Please enter a Type.</div>
        </div>
      </div>

      <button class="btn edit-btn btn-dark mt-3 mb-5">Submit</button>
    </form>
  </div>
</div>
<!-- <script src="/js/script.js"></script> -->
