<% layout("/layouts/boilerplate") %>

<style>
  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .tax-info {
    display: none;
  }
  .tax-toggle {
    border: 1px solid black;
    /* margin-top: 2rem; */
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    /* margin: auto; */
    display: flex;
    align-items: center;
  }
  .filter p {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease-out;
  }

  .filter p:hover {
    border-bottom: 2px solid black;
  }
  @media (max-width: 400px) {
    .filter {
      margin-top: 5px;
      padding: 0;
    }

    /* .filters {
      margin: 0;
    } */
  }
  .tax-toggle {
    margin: auto;
  }
</style>

<div
  class="filters"
  id="filters"
  style="display: flex; justify-content: space-between"
>
  <div
    class="filters-inner"
    style="display: flex; justify-content: space-between; flex-wrap: wrap"
  >
    <form action="/listings" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="trending"
        >
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="rooms"
        >
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </button>
      </div>
    </form>

    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="mountains"
        >
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>Mountaines</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="castles"
        >
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="amazing pools"
        >
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing pools</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="camping"
        >
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="farms"
        >
          <div><i class="fa-solid fa-tractor"></i></div>
          <p>Farms</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="arctic"
        >
          <div><i class="fa-solid fa-snowflake"></i></div>
          <p>Arctic</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="domes"
        >
          <div><i class="fa-solid fa-igloo"></i></div>
          <p>Domes</p>
        </button>
      </div>
    </form>
    <form action="/listings/type" method="get">
      <div class="filter">
        <button
          style="border: none; background-color: white"
          name="category"
          value="boats"
        >
          <div><i class="fa-solid fa-ship"></i></div>
          <p>Boats</p>
        </button>
      </div>
    </form>
  </div>

  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% if(typeof destination!="undefined" && destination.length!=0) {%> <% for(let
  list of filteredListings) {%>
  <a href="/listings/<%= list._id %>" class="listing-link">
    <div class="card col card-listing">
      <img
        src="<%= list.image.url %>"
        class="card-img-top"
        style="height: 20rem"
        alt="..."
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= list.title %> </b><br />
          &#8377;<%= list.price.toLocaleString("en-IN")%>
          <i class="tax-info"
            >&nbsp;+ &nbsp;18% GST = &#8377;<%=(list.price + (list.price *
            0.18)).toLocaleString("en-IN") %>
          </i>
        </p>
      </div>
    </div></a
  >

  <% } %> <% } else {%> <% for(let list of allListings) {%>
  <a href="/listings/<%= list._id %>" class="listing-link">
    <div class="card col card-listing">
      <img
        src="<%= list.image.url %>"
        class="card-img-top"
        style="height: 20rem"
        alt="..."
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= list.title %> </b><br />
          &#8377;<%= list.price.toLocaleString("en-IN")%>
          <i class="tax-info"
            >&nbsp;+ &nbsp;18% GST = &#8377;<%=(list.price + (list.price *
            0.18)).toLocaleString("en-IN") %>
          </i>
        </p>
      </div>
    </div></a
  >

  <% } %> <% }%>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (Info of taxInfo) {
      if (Info.style.display != "inline") {
        Info.style.display = "inline";
      } else {
        Info.style.display = "none";
      }
    }
  });
</script>

<!-- <script>
  let searchbtn = document.getElementById("search-btn");
  let searchInp = document.getElementById("search-inp");
  searchbtn.addEventListener("click", () => {
    const val = searchInp.value.trim();
    console.log(val);
    alert(val);
  });
</script> -->
